<div class="bills">
  <div class="header">
    <div class="name">Flat Bills</div>
    <button class="success" (click)="addFlatBill()">Add</button>
    <button (click)="printFlatBills()">Print to console</button>
  </div>
  <div class="bill" *ngFor="let flatBill of flatBills">
    <div class="header">
      <div class="name">{{flatBill.name}}</div>
      <input type="text" [(ngModel)]="flatBill.name">
      <input type="number" [(ngModel)]="flatBill.cost">
      <div *ngFor="let person of people">
        <button [ngClass]="getPersonButtonClass(flatBill, person)" (click)="togglePerson(flatBill, person)">{{person.name.charAt(0)}}</button>
      </div>
      <button class="danger" (click)="deleteFlatBill(flatBill)">Delete</button>
    </div>
  </div>
</div>
