.bills {
  padding: 1rem;

  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.add {
      color: green;
      cursor: pointer;
    }

    >.debug {
      color: white;
      background-color: black;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.7rem;
    }

    >.name {
      font-size: 2rem;
    }
  }

  >.bill {
    padding: 0 1rem;

    >.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      >.name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      >.cost {
        font-weight: bold;
      }
    }

    >.items {
      padding: 1rem;

      >.item {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
