@import 'styles';

.bills {
  padding-bottom: 1rem;

  .add {
    @extend .btn;
    background-color: $lightgreen;
  }

  .remove {
    @extend .btn;
    background-color: red;
  }

  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.name {
      font-size: 40px;
      font-weight: 300;
    }

    >.debug {
      color: white;
      background-color: black;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.7rem;
    }
  }

  >.bill {
    >.header {
      >.name {
        font-size: 20px;
        font-weight: 300;
      }

      >.cost {
        font-weight: bold;
      }

      >.people {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    >.items {
      >.item {
        padding-top: 1rem;

        label {
          font-size: 20px;
        }
      }
    }
  }
}
