/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-color: lightslategray;
  border: none;
  border-radius: 10px;
  padding: 0 1rem;
  height: 2rem;
}

input {
  height: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  padding-left: 0.5rem;
}

.bills {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;

    .name {
      font-size: 1.5rem;
    }
  }

  .bill {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        font-size: 1.5rem;
      }
    }

    .item {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
