/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-color: lightslategray;
  border: none;
  border-radius: 10px;
  padding: 0 1rem;
  height: 2rem;

  &.danger {
    background-color: red;
  }

  &.success {
    background-color: green;
  }
}

input {
  height: 2rem;
  border: none;
  border-bottom: 1px solid black;
  text-decoration: none;
  padding-left: 0.5rem;
}

.bills {
  padding: 1rem;
  max-width: 40rem;

  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.name {
      font-size: 2rem;
    }
  }

  >.bill {
    padding: 0 1rem;

    >.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      >.name {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    >.items {
      padding: 1rem;

      >.item {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
