<div class="bills">
  <div class="header">
    <div class="name">Bills</div>
    <div class="add" (click)="addBill()">
      Add Bill
    </div>
    <!-- <fa-icon class="debug" (click)="printBills()" [icon]="faTerminal" size="lg"></fa-icon> -->
  </div>
  <div class="bill" *ngFor="let bill of bills">
    <div class="header" *ngIf="bill.items.length > 1" fxLayout="row" fxLayoutAlign="space-between center">
      <input type="text" [(ngModel)]="bill.name" />
      <div class="cost">${{getSumOfBill(bill) | number:'1.2-2'}}</div>
      <div fxLayout="row" fxLayoutGap="1rem">
        <div class="add" (click)="addItem(bill)">
          Add Item
        </div>
        <div class="remove" (click)="deleteBill(bill)">
          Remove Bill
        </div>
      </div>
    </div>
    <div class="items">
      <div class="item" *ngFor="let item of bill.items" fxLayout="row" fxLayoutAlign="space-between center"
        fxLayout.lt-md="column" fxLayoutGap.lt-md="1rem">
        <input type="text" [(ngModel)]="item.name" />
        <div fxLayout="row" fxLayoutAlign="start center">
          <label>$</label>
          <input type="number" step="0.01" [(ngModel)]="item.cost" />
        </div>
        <div class="people" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
          <div *ngFor="let person of people">
            <button [ngClass]="getPersonButtonClass(item, person)"
              (click)="togglePerson(item, person)">{{person.name.charAt(0)}}</button>
          </div>
        </div>
        <div class="add" (click)="addItem(bill)" *ngIf="bill.items.length === 1">
          Add Item
        </div>
        <div class="remove" (click)="deleteItem(bill, item)">
          Remove Item
        </div>
      </div>
    </div>
  </div>
</div>
