@import '../../variables.scss';

.people {
  padding-bottom: 1rem;

  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: black;
    background-color: $lightgreen;
    border-radius: 10rem;
    cursor: pointer;
  }

  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: black;
    background-color: red;
    border-radius: 10rem;
    cursor: pointer;
  }

  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.name {
      font-size: 40px;
      font-weight: 300;
    }

    >.debug {
      color: white;
      background-color: black;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.7rem;
    }
  }

  >.person {
    padding: 0 1rem;

    >.header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      >.name {
        font-size: 20px;
        font-weight: 300;
      }

      >.cost {
        font-weight: bold;
      }

      >.people {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    >.items {
      padding: 1rem;

      >.item {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          font-size: 20px;
        }

        >.people {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
